html,
body {
  padding: 0;
  background-color: #fefdfa;
  margin: 0;
  font-family: 'Teko';
  height: 100vh;
  /* overflow: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


