.container {
  padding: 0 0;
  display: block;
}

.main {
  color: #E3B22E;
  min-height: 100%;
  padding: 10% 15%;
  /* background-color: #81613c; */
  background-color: #1E3E75;
  height: 100vh;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.mintMain {
  position: static ;
  color: #81613c;
  min-height: 100%;
  padding: 10px 0;
  padding-bottom: 0;
  background-color: #ecdeb7;
  /* background-color: #ffffff; */
  margin: 0;
  width: 100%;
}

.midContainer{
  position: relative;
  padding-bottom: 100px;
}

@keyframes clownFace {
  0% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(2.0);
  }
}


.clownFace{
  display:block;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  z-index: 3;
  animation:  2s ease-in-out;
}

.topImage{
  width: 22%;
}

.midImage{
  margin-top: 2%;
  width: 30%;
}

.bottomImage{
  margin-top: 2%;
  width: 15%;
}



.mintHeader{
  position: relative;
  display: block;
  font-size: 6em;
  text-align: center;
  font-family: 'Rye';
  margin-top: 0%;
  margin-bottom: 2%;
}

.mintModuleTop{
  width: 475px;
  height: 100%;
  color: #fefdfa;
  margin: 0 auto;
  background-color: #b8936c;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  border-width: 5px;
  border-style: solid;
  padding: .5%;
  font-size: 1.5em;
  /* box-shadow: 4px 6px #888888; */
  border-color: #b8936c;
  /* border-bottom-color: coral; */

  text-align: center;
  z-index: 50;

}

.supplyModule{
  position: relative;
  width: 440px;
  color: #fefdfa;
  margin: 0 auto;
  background-color: #1E3E75;
  border-radius: 10px;

  border-width: 3px;
  border-style: solid;
  padding: 2.2%;
  font-size: 1.75em;
  /* box-shadow: 4px 6px #888888; */
  border-color: #1E3E75;
  /* border-color: rgb(0, 0, 0); */
}

.starHat{
  position: absolute; 
  top: -45%;
  left: -10%;
  width: 20%;
  z-index: 10;
  transform: rotate(-30deg);}

/* .supplyModule:hover{
  box-shadow: 2px 2px 2px 2px #300000;
} */





.mintModule{
  width: 475px;
  color: #fefdfa;
  margin: 0 auto;
  background-color: #81613c;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  border-width: 3px;
  border-style: solid;
  padding: 2%;
  font-size: 1.75em;
  /* box-shadow: 4px 6px #888888; */
  border-color: #81613c;
  border-top-color: #81613c;
  /* border-color: rgb(0, 0, 0); */
  z-index: 50;

}

.mintInput{
  width: 99%;
  background-color: beige;
  border-radius: 10px;
  border-color: beige;
  border-style: solid;
  padding: 10px;
  margin: 0 auto;
  color: black;
  display: flex;
  z-index: 50;

}

.input{
  vertical-align: middle;
  margin-left: 10%;
  display: inline-block;
  width: 40%;
  margin: 0 auto;
}



.symbols{
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 50;

}

.symbols:hover{
  cursor: pointer;
}

.number{
  vertical-align: middle;
  font-size: .85em;
}

.title{
  font-family: 'Rye';
  font-size: 7em;
  text-align: center;
}

.ethAmount{
  margin-left: auto;
}


.supplyLeft{
  width: 99%;
  background-color: #458538;
  border-radius: 10px;
  border-color: #458538;
  border-style: solid;
  padding: 10px;
  margin: 0 auto;
  color: beige;
  display: flex;
}

.numberMinted{
  width: 99%;
  background-color: #C7E1C3;
  border-radius: 10px;
  border-color: #C7E1C3;
  border-style: solid;
  padding: 10px;
  margin: 0 auto;
  color: black;
  margin-top: 6%;
  display: flex;
}

.numberRight{
  margin-left: auto;
}

.mintButton{
  width: 99%;
  background-color: #eebd38;
  border-radius: 10px;
  border-color: #eebd38;
  border-style: solid;
  padding: 10px;
  margin: 0 auto;
  color: black;
  margin-top: 6%;
  text-align: center;
}

.mintButton:hover{
  cursor: pointer;
}

.mintModuleBottom{
  width: 475px;
  height: 100%;
  color: #c4c4c4;
  margin: 0 auto;
  background-color: #987a5b;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  border-width: 5px;
  border-style: solid;
  padding: .6% 1%;
  font-weight: 200;
  font-size: 1em;
  /* box-shadow: 4px 6px #888888; */
  border-color: #987a5b;
  /* border-bottom-color: coral; */

}

.menu{
  position: absolute;
  width: 100%;
  padding: 20px 80px;
  display: flex;
  font-size: 1.5em;
  color: #c5c5c5;
  font-weight: 300;
  vertical-align: middle;
  background-color: #81613c;
}

.menuImage{
  margin-left: 50px;
  vertical-align:middle;
}

.rightMenu{
  margin-left: auto;
  word-spacing: 50px;

}

.leftImage{
  position: absolute;
  top: 5px;
  left: 30px;
  height: 90%;
}

.left{
  margin-right: auto;
  /* word-spacing: 10px; */
}

.walletButton{
  background-color:#d1ad85;
  padding: 8px 12px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: black;
  color: black;
}

.clownHeader{
  position: relative;
  text-align: center;
  font-size: 3em;
  font-family: 'Rye';
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
                                  z-index: 10;

}

.clownHeader:hover{
  cursor: pointer;
}


.bottomCopy{
  position: relative;
  width: 30%;
  font-size: 1.2em;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  /* font-family: 'Roboto'; */
}



.teddy{
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 55%;
}

.heart{
  position: absolute;
  bottom: 15%;
  right: 10%;
  width: 5%;
}


.bunny{
  position: absolute;
  bottom: 0%;
  left: 10%;
  width: 18%;
}

.star{
  position: absolute;
  bottom: 15%;
  left: 10%;
  width: 5%;
}


@media (max-width: 800px) {
  .main {
    padding:25% 10%;
    display: block;
    text-align: center;
  }

  .clownHeader{
    text-align: center;
    font-size: 2.5em;
    font-family: 'Rye';
  }
  
  .mintMain{
    padding: 2% 0%;
    padding-bottom: 0%;
  }
  .mintModuleTop{
    width: 90%;  
  }


  .mintModule{
    width: 90%;  
    padding: 7% 3%;
  }

  .mintModuleBottom{
    width: 90%;  
    padding: 2% 6%;
    font-size: 1em;
  }

  .supplyModule{
    width: 80%;  
    padding: 7% 3%;
  }

  .menu{
    display: none;
  }


.topImage{
  width: 70%;
}
.midImage{
  width: 70%;
}

.bottomImage{
  width: 40%;
}
  .bottomCopy{
    width: 80%;
    margin-bottom: 5%;
  }

  .bunny{
    width: 25%;
    left: 10%;
  }


  .teddy{
    width: 80%
  }


.heart{
  display: none;

}


.star{
display: none;
}

.starHat{
  position: absolute; 
  top: -35%;
  left: -10%;
  width: 20%;
  z-index: 10;
  transform: rotate(-30deg);}

  
}
